
* {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #dcebff;
}


ul.menu-vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #79b3ff;
}

ul.menu-vertical li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.menu-vertical li a.active {  
  background-color: #184482;
  color: white;
}

ul.menu-vertical li a:hover:not(.active) {
  background-color: #2f66c4;
  color: rgb(255, 255, 255);
}

.vertical {
  display: flex;
}

ul.menu-vertical {
  height: 100vh;
}
